@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


/* For WebKit browsers (Chrome, Safari) */
::-webkit-scrollbar {
    width: 2px;  /* Width of the scrollbar */
    height: 2px; /* Height of the scrollbar */
}

::-webkit-scrollbar-thumb {
    background-color: red !important; /* Color of the scrollbar handle */
    border-radius: 10px; /* Rounded corners for the scrollbar handle */
}

::-webkit-scrollbar-track {
    background: lightgrey; /* Background of the scrollbar track */
    border-radius: 10px; /* Rounded corners for the scrollbar track */
}

/* For Firefox */
* {
    scrollbar-width: thin; /* Make scrollbar thin */
    scrollbar-color: red lightgrey ; /* Handle color and track color */
}

b{
    display: flex !important;
}
ul.vehicle-menu li button.btn{
    border-radius: 0 ;
    justify-content: end;
    padding-right: .3rem;
}

section {
    min-height: 100vh;
}

label.label {
    padding-bottom: .2rem !important;
}

label.required::after {
    content: ' *' !important;
    color: red !important;
}

button {
    min-height: auto !important;
}

input,
select,
textarea {
    height: auto;
    min-height: 0 !important;
}

#admin label.label {
    font-size: .9rem !important;
}
ul li.active{
    color: red !important;
        background: transparent !important;
}
header ul li.active:focus{
    color: blue !important;

     background: transparent !important;
    
}

.customer-review .flex .flex-1:hover .overlay {
    display: inline-block;
}






/* footer styling */
footer h5 {
    color: gray !important;
    font-size: 1.3rem;
    font-weight: 500;
    padding: .7rem 0;
}

/* footer ul */
footer ul {
    list-style-type: disc;
    list-style-position: inside;
    gap: .2rem;
}

footer ul li {
    color: whitesmoke !important;
    margin-top: .2rem;
}



marquee {
    animation: marquee-scroll 10s linear infinite !important;
    white-space: nowrap !important;
    /* Remove gap between end and start */
}

@keyframes marquee-scroll {
    from {
        transform: translateX(0) !important;
    }

    to {
        transform: translateX(-100%) !important;
    }
}